{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<div>
    <img class="about_img" src="{% static "core\images\about.jpg" %}" alt="home"/>
</div>

<div class="container mt-5">
<div class="row">
    <h6 class="display-4 font-weight-bold"> This is Blog Title </h6><hr>
    <p >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea, maiores modi praesentium 
    adipisci minima natus corrupti eum architecto iusto sunt quidem voluptas rem itaque debitis? A, 
    ad! Ipsum debitis aut officiis nostrum minima ab vel, nisi fugit ea obcaecati architecto enim esse 
    quod! Blanditiis incidunt quidem, eveniet, tenetur fugit debitis voluptas sunt dolores non a 
    corporis obcaecati. Pariatur sed earum aut, eveniet maxime atque molestiae modi nesciunt totam, 
    facere animi, quia ducimus laboriosam! Cupiditate debitis culpa nemo aperiam velit voluptatem 
    officiis animi ducimus dicta deserunt optio repellat illum nobis at hic iste placeat quod, quisquam 
    uaerat ullam magnam necessitatibus blanditiis? Quidem eius accusamus id illum, placeat, tempore 
    corporis veritatis dolorem suscipit eligendi quos dignissimos non vel labore, adipisci aliquam 
    rerum eveniet soluta nemo? Eius dolorem minus alias suscipit corrupti, modi fugiat vero tenetur. 
    Iste aspernatur culpa perspiciatis aliquid a ipsa dolore tempora ipsum tenetur quo, autem eius 
    facere fuga ducimus aliquam accusamus est fugit corporis officiis. Cumque perferendis nam iure 
    ab quod assumenda hic perspiciatis officiis iste, voluptatum id labore quasi amet voluptatem ut 
    ullam itaque impedit fuga. Delectus distinctio error temporibus! Mollitia impedit quod fuga 
    obcaecati,quasi illum et autem! Hic officiis sunt similique dolorum illum quo laboriosam facilis?</p>

</div>

<div class="row">
    <h6 class="display-4 font-weight-bold">  Our Objective </h6><hr>
    <p >To be the most trusted and fully integrated Digital/SEO/SEM Company that provides quality and economical Digital/SEO/SEM Services to your web-based business globally.
To provide your website a better traffic, revenue & more usres by 100% digital ethical processes. And help you maximize your Return-On-Investment (ROI).
Build a long-lasting relationship with our clients by ensuring to deliver within the specified period of time.
Encourage innovation in our Digital marketing strategy that helps us to explore new areas and to hone our expertise in this domain.
To deliver the best possible result by utilizing the best available resources.</p>

</div>
</div>
{% endblock content %}