{% extends 'core/base.html' %}
{% load static %}

{% block msg %}
{% if messages %}
    {% for message in messages %}
    <div {% if message.tags %} class="alert alert-{{message.tags}} alert-dismissible fade show" {% endif %}>
    <strong>{{message}}</strong>
    <button type="button" class="close" data-dismiss="alert"aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
    </div>
    {% endfor %}
{% endif %}
{% endblock msg %}


{% block content %}

<div>
    <img class="about_img" src="{% static "core\images\about.jpg" %}" alt="home"/>
</div>

<div class="col-sm-10 offset-1">

<a href="{% url 'addpost' %}" class="btn btn-success mt-4">Add Post</a>
<h5 class="text-center alert alert-info mt-2"> Show Post Information </h5>

{% if posts %}
<table class="table table-hover bg-white">
<thead>
    <tr class="text-center">
        <th scope="col" style="width:2%">ID</th>
        <th scope="col" style="width:28%">Title</th>
        <th scope="col" style="width:55%">Description</th>
        <th scope="col" style="width:15%">Action</th>
    </tr>
</thead>
    <tbody>
        {% for post in posts %}
            <tr>
                <th scope="row">{{post.id}}</th>
                <td>{{post.title}}</td>
                <td>{{post.desc}}</td>
                <td class="text-center">
                <a href="{% url 'update' post.id %}" class="btn btn-warning btn-sm">Update</a>

                {% if perms.blog.delete_post %}
                    <form action="{% url 'delete' post.id %}" method="post" class="d-inline">
                    {% csrf_token %}
                    <input type="submit" class="btnd btn-danger btn-sm mt-2" value="Delete">
                    </form>
                {% endif %}

                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}
    <h4 class="text-center alert alert-warning">No Records Found</h4>
{% endif %}
</div>
{% endblock content %}