<!-- Start Footer Section -->
        <section class="footer-section ptb-100 bg-success">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6 mt-5">
                        <div class="footer-area">
                            <div class="footer-heading">
                                <h3>About Us</h3>
                            </div>

                            <p>PRwebtechno is one of the best and rapidly growing digital marketing company in the area. 
                            We have vast experience of navigating the rapidly evolving digital marketing landscape and 
                            delivering quality digital marketing services.</p>
                        </div>
                    </div>

      <!-- Grid column -->
      <div class="col-lg-2 col-md-6 col-sm-6 mt-5">
                        <div class="footer-item-area">
                            <div class="footer-heading">
                                <h3>Company</h3>
                            </div>

                            <ul class="footer-quick-links">
                                <li><a href="about.html">About Us</a></li>
                                <li><a href="projects.html">Project</a></li>
                                <li><a href="services.html">Services</a></li>
                                <li><a href="team.html">Team</a></li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </div>    
                    </div>
      <!-- Grid column -->

      <!-- Grid column -->
       <div class="col-lg-2 col-md-6 col-sm-6 mt-5">
                        <div class="footer-item-area">
                            <div class="footer-heading">
                                <h3>Services</h3>
                            </div>

                            <ul class="footer-quick-links">
                                <li><a href="#">SEO Marketing</a></li>
                                <li><a href="#">SEO Services</a></li>
                                <li><a href="#">Services</a></li>
                                <li><a href="#">Pay-Per-Click</a></li>
                                <li><a href="#">Social Media</a></li>
                            </ul>
                        </div>    
                    </div>

      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-3 col-md-6 col-sm-6 mt-5">
                        <div class="footer-heading">
                            <h3>Contact Details</h3>
                        </div>

                        <div class="footer-info-contact">
                            <i class="flaticon-call-answer"></i>
                            <h6>Phone</h6>
                            <span>+91 9877917908, +91 9170475552</span>
                        </div>

                        <div class="footer-info-contact">
                            <i class="flaticon-envelope"></i>
                            <h6>Email</h6>
                            <span><a href="mailto:prwebtechno@.com">prwebtechno@.com</a></span>
                        </div>

                        <div class="footer-info-contact">
                            <i class="flaticon-placeholder-filled-point"></i>
                            <h6>Address</h6>
                            <span>R-169, Sector 12, Higduplex, Pratap Vihar,Ghaziabad, Uttar Pradesh 
                            201009, India</span>
                        </div>
                    </div>
                </div>
            </div>
      <!-- Grid column -->
</footer>
<!-- Footer -->

    <!-- Start Copy Right Section -->
        <div class="copyright bg-info">
            <div class="container">
                <div class="row align-items-center">
                    
                    <div class="col-lg-4 col-md-5 mt-3">
                        <p>
                            <i class="far fa-copyright"></i> 
                            2018, Pritesh, All rights reserved
                        </p>
                    </div>

                    <div class="col-lg-4 col-md-4">
                          <a href="#">Terms & Conditions</a> |
                          <a href="#">Privacy Policy</a>
                    </div>

        <!-- Social buttons -->
        <div class="col-lg-4 col-md-4 mt-3">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
              <a href="#" class="btn-floating btn-sm rgba-white-slight mx-1">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="btn-floating btn-sm rgba-white-slight mx-1">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="btn-floating btn-sm rgba-white-slight mx-1">
                <i class="fab fa-google-plus-g"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="btn-floating btn-sm rgba-white-slight mx-1">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
          </div>
        
        </div>
      </div>
    </div>
<!-- End Copy Right Section -->